/*========================================================

                Edit Vendor scss

========================================================*/
@media screen and (min-width: 769px) {
  .edit-vendor-align {
    margin-top: vw(80px);
  }
  .edit-vendor-align .editvendor-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
    padding-bottom: vw(20px);
    border-bottom: 1px solid #cccccc;
  }
  .edit-vendor-align .cancel-button {
    font-size: vw(21px);
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: vw(240px);
    height: vw(60px);
    border: 1px solid #ff5757;
    background-color: white;
    color: #ff5757;
    float: right;
    border-radius: vw(30px);
    text-transform: capitalize;
  }
  .save-button {
    font-size: vw(21px);
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    margin-top: vw(210px);
    width: vw(240px);
    height: vw(60px);
    border: transparent;
    background-color: #ff5757;
    color: white;
    float: left;
    border-radius: vw(30px);
    text-transform: capitalize;
  }
}

/***********************************
            Media Query Navigation   
***********************************/
@media screen and (max-width: 768px) {
  .edit-vendor-align {
    margin-top: mvw(30px);
  }
  .edit-vendor-align .editvendor-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
    padding-bottom: mvw(20px);
    border-bottom: 1px solid #cccccc;
  }
  .edit-vendor-align .cancel-button {
    margin-top: mvw(20px);
    font-size: mvw(18px);
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: mvw(140px);
    height: mvw(40px);
    border: 1px solid #ff5757;
    background-color: white;
    color: #ff5757;
    float: right;
    border-radius: mvw(30px);
    text-transform: capitalize;
  }
  .save-button {
    font-size: mvw(18px);
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    margin-top: mvw(230px);
    width: mvw(140px);
    height: mvw(40px);
    border: transparent;
    background-color: #ff5757;
    color: white;
    float: left;
    border-radius: mvw(30px);
    text-transform: capitalize;
  }
}
/*# sourceMappingURL=editvendor.css.map */