/*========================================================

                    variables

========================================================*/
/********************
    Function scss
********************/
/********************
    Global scss
********************/
/***********************************
            Global Reset             
***********************************/
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfcfc;
  color: #000000;
  font-family: AvenirLTStd-Book, sans-serif, Helvetica;
}

/*** input field class ***/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-bottomblack {
  padding-left: 2.86458vw;
  margin-left: 0;
  margin-bottom: 1.04167vw;
  border: 1px solid #cccccc;
  border-radius: 1.5625vw;
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.sucessMsg {
  color: #6b8e23;
  margin-bottom: 10px;
}

/*** Button Classes ***/
button {
  border: transparent;
}

button:focus {
  outline: 0;
}

/*** Textarea class ***/
.textarea-bottomblack {
  padding-left: 2.86458vw;
  margin-left: 0;
  margin-bottom: 1.04167vw;
  border: 1px solid #cccccc;
  border-radius: 1.5625vw;
}

/*******************************************
 * @DESC React Country Code
 ******************************************/
.react-tel-input .form-control {
  width: 70% !important;
  height: 3.125vw !important;
  border-radius: 1.82292vw !important;
  pointer-events: none !important;
}

.react-tel-input .form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.react-tel-input .flag-dropdown {
  border-radius: 1.82292vw 0 0 1.82292vw !important;
}

.react-tel-input .flag-dropdown:hover .selected-flag,
.react-tel-input .flag-dropdown:focus .selected-flag {
  border-radius: 25px 0 0 25px !important;
}

/**============
 validation css
============**/
.main-validation-div {
  text-align: left;
}

.main-validation-div .isnotvalid {
  font-size: 1.04167vw;
  color: red;
}

.table {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.input-field-css {
  width: 20%;
  text-align: center;
  margin-right: 1.04167vw;
}

/***********************************
            Media Query Navigation   
***************************************/
@media screen and (max-width: 768px) {
  table {
    margin-top: 0rem;
    border-radius: 0 !important;
    margin-bottom: 0rem !important;
  }
  .input-bottomblack {
    padding-left: 14.66667vw;
    margin-left: 0;
    margin-bottom: 5.33333vw;
    border: 1px solid #cccccc;
    border-radius: 8vw;
  }
}

/********************
    Navigation Css
********************/
@media screen and (min-width: 769px) {
  .main-header {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0.15625vw 0.3125vw 0 #e6e6e6;
            box-shadow: 0 0.15625vw 0.3125vw 0 #e6e6e6;
  }
  .main-header .divheading {
    height: 4.6875vw;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 8.33333vw;
    padding-right: 9.375vw;
  }
  .main-header .divheading .add-vendor-button {
    font-size: 1.09375vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 12.5vw;
    height: 3.125vw;
    border: transparent;
    background-color: #ff5757;
    color: white;
    float: left;
    border-radius: 1.5625vw;
    text-transform: capitalize;
  }
  .main-header .divheading img {
    width: 1.66667vw;
    height: 1.51042vw;
    margin-left: 1.5625vw;
    background-color: #fafafa;
    border-radius: 1.5625vw;
  }
  .main-header .divheading h4 {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    font-weight: bold;
    font-size: 1.45833vw;
    color: #000000;
  }
  .main-header .add-vendor-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/***********************************
            Media Query Navigation   
***********************************/
@media screen and (max-width: 768px) {
  .main-header {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0.8vw 1.6vw 0 #e6e6e6;
            box-shadow: 0 0.8vw 1.6vw 0 #e6e6e6;
  }
  .main-header .divheading {
    height: 17.33333vw;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-header .divheading .add-vendor-button {
    font-size: 3.73333vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 26.66667vw;
    height: 8vw;
    border: transparent;
    background-color: #ff5757;
    color: white;
    float: left;
    border-radius: 8vw;
    text-transform: capitalize;
  }
  .main-header .divheading img {
    width: 6.4vw;
    height: 6.4vw;
    margin-left: 4vw;
    background-color: #fafafa;
    border-radius: 8vw;
  }
  .main-header .divheading h4 {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    font-weight: bold;
    font-size: 4.26667vw;
    color: #000000;
  }
  .main-header .add-vendor-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/********************
    Typography scss
********************/
@font-face {
  font-family: AvenirLTStd-Black;
  src: url("./../../assets/fonts/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: AvenirLTStd-BlackOblique;
  src: url("./../../assets/fonts/AvenirLTStd-BlackOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Book;
  src: url("./../../assets/fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: AvenirLTStd-BookOblique;
  src: url("./../../assets/fonts/AvenirLTStd-BookOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Heavy;
  src: url("./../../assets/fonts/AvenirLTStd-Heavy.otf");
}

@font-face {
  font-family: AvenirLTStd-HeavyOblique;
  src: url("./../../assets/fonts/AvenirLTStd-HeavyOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Light;
  src: url("./../../assets/fonts/AvenirLTStd-Light.otf");
}

@font-face {
  font-family: AvenirLTStd-LightOblique;
  src: url("./../../assets/fonts/AvenirLTStd-LightOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Medium;
  src: url("./../../assets/fonts/AvenirLTStd-Medium.otf");
}

@font-face {
  font-family: AvenirLTStd-MediumOblique;
  src: url("./../../assets/fonts/AvenirLTStd-MediumOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Oblique;
  src: url("./../../assets/fonts/AvenirLTStd-Oblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Roman;
  src: url("./../../assets/fonts/AvenirLTStd-Roman.otf");
}

/***=========================
    Login Scss
=========================***/
@media screen and (min-width: 769px) {
  .login-align {
    margin-top: 4.16667vw;
    margin: 2.91667vw auto;
    padding-top: 1.5625vw;
    background-color: white;
    width: 30.52083vw;
    height: 35.15625vw;
    border-radius: 1.04167vw;
    -webkit-box-shadow: 0px 0px 20px #e6e6e6;
            box-shadow: 0px 0px 20px #e6e6e6;
  }
  .login-align p {
    font-family: AvenirLTStd-Book;
    padding-bottom: 2.08333vw;
    border-bottom: 1px solid #e6e6e6;
  }
  .login-align .welcome-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
  }
  .login-align .login-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
  }
  .username-login-form-group {
    position: relative;
  }
  .username-login-form-group img {
    width: 1.97917vw;
    height: 1.97917vw;
    position: absolute;
    top: 2.1875vw;
    left: 0.52083vw;
    border-radius: 1.5625vw;
  }
  .login-button {
    font-size: 1.09375vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 12.5vw;
    height: 3.125vw;
    border: transparent;
    background-color: #ff5757;
    color: white;
    float: right;
    border-radius: 1.5625vw;
    text-transform: capitalize;
  }
  body {
    background-color: #ffffff;
    height: 100vh;
  }
  h2 {
    position: relative;
    margin: 0 auto;
    top: 25vh;
    width: 100vw;
    text-align: center;
    font-family: "Amatic SC";
    font-size: 6vh;
    color: #333;
    opacity: 0.75;
    -webkit-animation: pulse 2.5s linear infinite;
            animation: pulse 2.5s linear infinite;
  }
  #cooking {
    position: relative;
    margin: 0 auto;
    top: 0;
    width: 75vh;
    height: 75vh;
    overflow: hidden;
  }
  #cooking .bubble {
    position: absolute;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0.25vh #4d4d4d;
            box-shadow: 0 0 0.25vh #4d4d4d;
    opacity: 0;
  }
  #cooking .bubble:nth-child(1) {
    margin-top: 2.5vh;
    left: 50%;
    width: 2.5vh;
    height: 2.5vh;
    background-color: #454545;
    -webkit-animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
            animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
  }
  #cooking .bubble:nth-child(2) {
    margin-top: 3vh;
    left: 44%;
    width: 2vh;
    height: 2vh;
    background-color: #3d3d3d;
    -webkit-animation: bubble 2s ease-in-out 0.35s infinite;
            animation: bubble 2s ease-in-out 0.35s infinite;
  }
  #cooking .bubble:nth-child(3) {
    margin-top: 1.8vh;
    left: 42%;
    width: 1.5vh;
    height: 1.5vh;
    background-color: #333;
    -webkit-animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
            animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
  }
  #cooking .bubble:nth-child(4) {
    margin-top: 2.7vh;
    left: 56%;
    width: 1.2vh;
    height: 1.2vh;
    background-color: #2b2b2b;
    -webkit-animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
            animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
  }
  #cooking .bubble:nth-child(5) {
    margin-top: 2.7vh;
    left: 55%;
    width: 1.1vh;
    height: 1.1vh;
    background-color: #242424;
    -webkit-animation: bubble 1.6s ease-in-out 1s infinite;
            animation: bubble 1.6s ease-in-out 1s infinite;
  }
  #cooking #area {
    position: absolute;
    bottom: 0;
    right: 8%;
    width: 50%;
    height: 50%;
    background-color: transparent;
    -webkit-transform-origin: 15% 60%;
            transform-origin: 15% 60%;
    -webkit-animation: flip 2.1s ease-in-out infinite;
            animation: flip 2.1s ease-in-out infinite;
  }
  #cooking #area #sides {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 15% 60%;
            transform-origin: 15% 60%;
    -webkit-animation: switchSide 2.1s ease-in-out infinite;
            animation: switchSide 2.1s ease-in-out infinite;
  }
  #cooking #area #sides #handle {
    position: absolute;
    bottom: 18%;
    right: 80%;
    width: 35%;
    height: 20%;
    background-color: transparent;
    border-top: 1vh solid #333;
    border-left: 1vh solid transparent;
    border-radius: 100%;
    -webkit-transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
            transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
  }
  #cooking #area #sides #pan {
    position: absolute;
    bottom: 20%;
    right: 30%;
    width: 50%;
    height: 8%;
    background-color: #333;
    border-radius: 0 0 1.4em 1.4em;
    -webkit-transform-origin: -15% 0;
            transform-origin: -15% 0;
  }
  #cooking #area #pancake {
    position: absolute;
    top: 24%;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateX(85deg);
            transform: rotateX(85deg);
    -webkit-animation: jump 2.1s ease-in-out infinite;
            animation: jump 2.1s ease-in-out infinite;
  }
  #cooking #area #pancake #pastry {
    position: absolute;
    bottom: 26%;
    right: 37%;
    width: 40%;
    height: 45%;
    background-color: #333;
    -webkit-box-shadow: 0 0 3px 0 #333;
            box-shadow: 0 0 3px 0 #333;
    border-radius: 100%;
    -webkit-transform-origin: -20% 0;
            transform-origin: -20% 0;
    -webkit-animation: fly 2.1s ease-in-out infinite;
            animation: fly 2.1s ease-in-out infinite;
  }
  @-webkit-keyframes jump {
    0% {
      top: 24%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    25% {
      top: 10%;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    50% {
      top: 30%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    75% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
  }
  @keyframes jump {
    0% {
      top: 24%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    25% {
      top: 10%;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    50% {
      top: 30%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    75% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
  }
  @-webkit-keyframes flip {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    5% {
      -webkit-transform: rotate(-27deg);
              transform: rotate(-27deg);
    }
    30%,
    50% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    55% {
      -webkit-transform: rotate(27deg);
              transform: rotate(27deg);
    }
    83.3% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes flip {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    5% {
      -webkit-transform: rotate(-27deg);
              transform: rotate(-27deg);
    }
    30%,
    50% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    55% {
      -webkit-transform: rotate(27deg);
              transform: rotate(27deg);
    }
    83.3% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @-webkit-keyframes switchSide {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    50% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes switchSide {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    50% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @-webkit-keyframes fly {
    0% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    10% {
      bottom: 40%;
    }
    50% {
      bottom: 26%;
      -webkit-transform: rotate(-190deg);
              transform: rotate(-190deg);
    }
    80% {
      bottom: 40%;
    }
    100% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes fly {
    0% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    10% {
      bottom: 40%;
    }
    50% {
      bottom: 26%;
      -webkit-transform: rotate(-190deg);
              transform: rotate(-190deg);
    }
    80% {
      bottom: 40%;
    }
    100% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @-webkit-keyframes bubble {
    0% {
      -webkit-transform: scale(0.15, 0.15);
              transform: scale(0.15, 0.15);
      top: 80%;
      opacity: 0;
    }
    50% {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0.33, 0.33);
              transform: scale(0.33, 0.33);
      top: 60%;
      opacity: 0;
    }
  }
  @keyframes bubble {
    0% {
      -webkit-transform: scale(0.15, 0.15);
              transform: scale(0.15, 0.15);
      top: 80%;
      opacity: 0;
    }
    50% {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0.33, 0.33);
              transform: scale(0.33, 0.33);
      top: 60%;
      opacity: 0;
    }
  }
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
    50% {
      -webkit-transform: scale(1.2, 1);
              transform: scale(1.2, 1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
  }
  @keyframes pulse {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
    50% {
      -webkit-transform: scale(1.2, 1);
              transform: scale(1.2, 1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
  }
}

/***********************************
            Media Query Login          
***********************************/
@media screen and (max-width: 768px) {
  .login-align {
    margin-top: 16vw;
    padding-top: 5.33333vw;
    background-color: white;
    width: 100%;
    height: 70vh;
    border-radius: 5.33333vw;
    -webkit-box-shadow: 0px 0px 20px #e6e6e6;
            box-shadow: 0px 0px 20px #e6e6e6;
  }
  .login-align p {
    font-family: AvenirLTStd-Book;
    padding-bottom: 10.66667vw;
    border-bottom: 1px solid #e6e6e6;
  }
  .login-align .welcome-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
  }
  .login-align .login-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
  }
  .username-login-form-group {
    position: relative;
  }
  .username-login-form-group img {
    width: 6.66667vw;
    height: 6.66667vw;
    position: absolute;
    top: 8.8vw;
    left: 4vw;
    border-radius: 8vw;
  }
  .login-button {
    margin-top: 8vw;
    font-size: 4.8vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 37.33333vw;
    height: 10.66667vw;
    border: transparent;
    background-color: #ff5757;
    color: white;
    float: right;
    border-radius: 8vw;
    text-transform: capitalize;
  }
  body {
    background-color: #ffffff;
    height: 100vh;
  }
  h2 {
    position: relative;
    margin: 0 auto;
    top: 25vh;
    width: 100vw;
    text-align: center;
    font-family: "Amatic SC";
    font-size: 6vh;
    color: #333;
    opacity: 0.75;
    -webkit-animation: pulse 2.5s linear infinite;
            animation: pulse 2.5s linear infinite;
  }
  #cooking {
    position: relative;
    margin: 0 auto;
    top: 0;
    width: 75vh;
    height: 75vh;
    overflow: hidden;
  }
  #cooking .bubble {
    position: absolute;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0.25vh #4d4d4d;
            box-shadow: 0 0 0.25vh #4d4d4d;
    opacity: 0;
  }
  #cooking .bubble:nth-child(1) {
    margin-top: 2.5vh;
    left: 50%;
    width: 2.5vh;
    height: 2.5vh;
    background-color: #454545;
    -webkit-animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
            animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
  }
  #cooking .bubble:nth-child(2) {
    margin-top: 3vh;
    left: 44%;
    width: 2vh;
    height: 2vh;
    background-color: #3d3d3d;
    -webkit-animation: bubble 2s ease-in-out 0.35s infinite;
            animation: bubble 2s ease-in-out 0.35s infinite;
  }
  #cooking .bubble:nth-child(3) {
    margin-top: 1.8vh;
    left: 42%;
    width: 1.5vh;
    height: 1.5vh;
    background-color: #333;
    -webkit-animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
            animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
  }
  #cooking .bubble:nth-child(4) {
    margin-top: 2.7vh;
    left: 56%;
    width: 1.2vh;
    height: 1.2vh;
    background-color: #2b2b2b;
    -webkit-animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
            animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
  }
  #cooking .bubble:nth-child(5) {
    margin-top: 2.7vh;
    left: 55%;
    width: 1.1vh;
    height: 1.1vh;
    background-color: #242424;
    -webkit-animation: bubble 1.6s ease-in-out 1s infinite;
            animation: bubble 1.6s ease-in-out 1s infinite;
  }
  #cooking #area {
    position: absolute;
    bottom: 0;
    right: 8%;
    width: 50%;
    height: 50%;
    background-color: transparent;
    -webkit-transform-origin: 15% 60%;
            transform-origin: 15% 60%;
    -webkit-animation: flip 2.1s ease-in-out infinite;
            animation: flip 2.1s ease-in-out infinite;
  }
  #cooking #area #sides {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 15% 60%;
            transform-origin: 15% 60%;
    -webkit-animation: switchSide 2.1s ease-in-out infinite;
            animation: switchSide 2.1s ease-in-out infinite;
  }
  #cooking #area #sides #handle {
    position: absolute;
    bottom: 18%;
    right: 80%;
    width: 35%;
    height: 20%;
    background-color: transparent;
    border-top: 1vh solid #333;
    border-left: 1vh solid transparent;
    border-radius: 100%;
    -webkit-transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
            transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
  }
  #cooking #area #sides #pan {
    position: absolute;
    bottom: 20%;
    right: 30%;
    width: 50%;
    height: 8%;
    background-color: #333;
    border-radius: 0 0 1.4em 1.4em;
    -webkit-transform-origin: -15% 0;
            transform-origin: -15% 0;
  }
  #cooking #area #pancake {
    position: absolute;
    top: 24%;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateX(85deg);
            transform: rotateX(85deg);
    -webkit-animation: jump 2.1s ease-in-out infinite;
            animation: jump 2.1s ease-in-out infinite;
  }
  #cooking #area #pancake #pastry {
    position: absolute;
    bottom: 26%;
    right: 37%;
    width: 40%;
    height: 45%;
    background-color: #333;
    -webkit-box-shadow: 0 0 3px 0 #333;
            box-shadow: 0 0 3px 0 #333;
    border-radius: 100%;
    -webkit-transform-origin: -20% 0;
            transform-origin: -20% 0;
    -webkit-animation: fly 2.1s ease-in-out infinite;
            animation: fly 2.1s ease-in-out infinite;
  }
  @-webkit-keyframes jump {
    0% {
      top: 24%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    25% {
      top: 10%;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    50% {
      top: 30%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    75% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
  }
  @keyframes jump {
    0% {
      top: 24%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    25% {
      top: 10%;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    50% {
      top: 30%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    75% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
  }
  @-webkit-keyframes flip {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    5% {
      -webkit-transform: rotate(-27deg);
              transform: rotate(-27deg);
    }
    30%,
    50% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    55% {
      -webkit-transform: rotate(27deg);
              transform: rotate(27deg);
    }
    83.3% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes flip {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    5% {
      -webkit-transform: rotate(-27deg);
              transform: rotate(-27deg);
    }
    30%,
    50% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    55% {
      -webkit-transform: rotate(27deg);
              transform: rotate(27deg);
    }
    83.3% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @-webkit-keyframes switchSide {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    50% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes switchSide {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    50% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @-webkit-keyframes fly {
    0% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    10% {
      bottom: 40%;
    }
    50% {
      bottom: 26%;
      -webkit-transform: rotate(-190deg);
              transform: rotate(-190deg);
    }
    80% {
      bottom: 40%;
    }
    100% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes fly {
    0% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    10% {
      bottom: 40%;
    }
    50% {
      bottom: 26%;
      -webkit-transform: rotate(-190deg);
              transform: rotate(-190deg);
    }
    80% {
      bottom: 40%;
    }
    100% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @-webkit-keyframes bubble {
    0% {
      -webkit-transform: scale(0.15, 0.15);
              transform: scale(0.15, 0.15);
      top: 80%;
      opacity: 0;
    }
    50% {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0.33, 0.33);
              transform: scale(0.33, 0.33);
      top: 60%;
      opacity: 0;
    }
  }
  @keyframes bubble {
    0% {
      -webkit-transform: scale(0.15, 0.15);
              transform: scale(0.15, 0.15);
      top: 80%;
      opacity: 0;
    }
    50% {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0.33, 0.33);
              transform: scale(0.33, 0.33);
      top: 60%;
      opacity: 0;
    }
  }
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
    50% {
      -webkit-transform: scale(1.2, 1);
              transform: scale(1.2, 1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
  }
  @keyframes pulse {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
    50% {
      -webkit-transform: scale(1.2, 1);
              transform: scale(1.2, 1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
  }
}

/*========================================================

                vendor details

========================================================*/
@media screen and (min-width: 769px) {
  .font-36-black {
    font-size: 1.875vw;
    line-height: 2.23958vw;
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
  }
  .font-28-medium {
    font-size: 1.45833vw;
    line-height: 1.77083vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
  }
  .font-21-medium {
    cursor: pointer;
    font-size: 1.09375vw;
    line-height: 1.30208vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
  }
  .mr-30 {
    margin-right: 1.5625vw;
  }
  .mb-30 {
    margin-bottom: 1.5625vw;
  }
  .vendor-details-container {
    padding-left: 7.34375vw;
    padding-right: 7.34375vw;
    padding-top: 1.5625vw;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 1.04167vw 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 1.04167vw 0 rgba(0, 0, 0, 0.05);
  }
  .gray-border {
    display: block;
    border-bottom: 1px solid #E6E6E6;
    margin-top: 1.71875vw;
    margin-bottom: 1.04167vw;
  }
  .gray-text-block-p {
    color: #CCCCCC;
    font-size: 1.09375vw;
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    line-height: 1.30208vw;
    text-transform: capitalize;
    width: 14.89583vw;
    margin-bottom: 1.04167vw;
  }
  .login-button--vendor-details-show {
    float: unset;
    background-color: #57B6FF;
    color: #FFFFFF;
    margin-bottom: 1.5625vw !important;
    margin-right: 1.5625vw !important;
  }
  .login-button--vendor-details-show-all {
    float: unset;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
    margin-bottom: 1.5625vw !important;
    margin-right: 1.5625vw !important;
  }
  .dark-gray-text {
    color: #808080;
  }
  .default-wait-time-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5625vw;
    margin-top: 0.52083vw;
  }
  .default-wait-time-block .select-wait-time {
    color: #FFFFFF;
    border-top-left-radius: 2.08333vw;
    border-bottom-left-radius: 2.08333vw;
    border-right: 0;
  }
  .default-wait-time-block .select-current-time {
    color: #FFFFFF;
    background-color: #FFCF60;
  }
  .default-wait-time-block span:last-child::after {
    display: none;
  }
  .default-wait-time-block span:first-child {
    border-top-left-radius: 2.08333vw;
    border-bottom-left-radius: 2.08333vw;
    border-right: 0;
  }
  .default-wait-time-block span:last-child {
    border-top-right-radius: 2.08333vw;
    border-bottom-right-radius: 2.08333vw;
    border-right: 0;
  }
  .default-wait-time-block span {
    position: relative;
    color: #000000;
    background-color: #FAFAFA;
    width: 4.6875vw;
    height: 4.16667vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .default-wait-time-block span::after {
    content: "";
    width: 1px;
    height: 50%;
    background-color: #707070;
    position: absolute;
    right: 0;
  }
  .table-time-outer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .table-time-outer-block div:first-child {
    margin-right: 3.125vw;
  }
  .vendordetail-col {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 1.82292vw;
  }
}

/***********************************
            Media Query Navigation   
***********************************/
@media screen and (max-width: 768px) {
  .font-36-black {
    font-size: 8vw;
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
  }
  .font-28-medium {
    font-size: 5vw;
    line-height: 9.06667vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
  }
  .font-21-medium {
    cursor: pointer;
    font-size: 5.6vw;
    line-height: 6.66667vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
  }
  .mr-30 {
    margin-right: 8vw;
  }
  .mb-30 {
    margin-bottom: 8vw;
  }
  .vendor-details-container {
    padding-top: 5.33333vw;
    padding-bottom: 5.33333vw;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 5.33333vw 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 5.33333vw 0 rgba(0, 0, 0, 0.05);
  }
  .gray-border {
    display: block;
    border-bottom: 1px solid #E6E6E6;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  .gray-text-block-p {
    color: #CCCCCC;
    font-size: 5.6vw;
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    line-height: 6.66667vw;
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 5.33333vw;
  }
  .login-button--vendor-details-show {
    float: unset;
    background-color: #57B6FF;
    color: #FFFFFF;
    font-size: 4vw;
    width: 49%;
    height: 7vh;
    margin-bottom: 5.33333vw !important;
  }
  .login-button--vendor-details-show-all {
    float: unset;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
    font-size: 4vw;
    width: 49%;
    height: 7vh;
    margin-bottom: 5.33333vw !important;
  }
  .dark-gray-text {
    color: #808080;
  }
  .default-wait-time-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5.33333vw;
    margin-top: 5.33333vw;
  }
  .default-wait-time-block .select-wait-time {
    color: #FFFFFF;
    border-top-left-radius: 10.66667vw;
    border-bottom-left-radius: 10.66667vw;
    border-right: 0;
  }
  .default-wait-time-block .select-current-time {
    color: #FFFFFF;
    background-color: #FFCF60;
  }
  .default-wait-time-block span:last-child::after {
    display: none;
  }
  .default-wait-time-block span:first-child {
    border-top-left-radius: 10.66667vw;
    border-bottom-left-radius: 10.66667vw;
    border-right: 0;
  }
  .default-wait-time-block span:last-child {
    border-top-right-radius: 10.66667vw;
    border-bottom-right-radius: 10.66667vw;
    border-right: 0;
  }
  .default-wait-time-block span {
    position: relative;
    color: #000000;
    background-color: #FAFAFA;
    width: 18vw;
    font-size: 5vw;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .default-wait-time-block span::after {
    content: "";
    width: 1px;
    height: 50%;
    background-color: #707070;
    position: absolute;
    right: 0;
  }
  .table-time-outer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .vendordetail-col {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
}

/*========================================================

                Vendor List scss

========================================================*/
@media screen and (min-width: 769px) {
  .table-container {
    text-align: center;
  }
  .table-container .first-row {
    background-color: #ff5757;
  }
  .table-container .first-row th {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: 1.09375vw;
    color: white;
    height: 4.16667vw;
  }
  .table-container .second-row td {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: 1.09375vw;
    height: 4.16667vw;
  }
  .table-container .second-row .img-padding {
    padding-left: 1.5625vw;
  }
  .table-container .vendor {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
    font-size: 1.875vw;
  }
  .table-container .vendor-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .table-container .vendor-search .input-bottomblack--input-search {
    background: transparent;
    margin-left: auto;
  }
  .table-container .username-login-form-group img {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 7px;
    left: 165px;
  }
  .table-container .size-select {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: 0.9rem !important;
    border: none;
    background-color: transparent;
    color: black;
  }
  .search-label label {
    display: none;
  }
  table {
    border-collapse: collapse;
    border-radius: 5px 5px 40px 40px;
    overflow: hidden;
    margin-bottom: 0vw;
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
  }
  .popup_inner {
    text-align: left;
    padding: 1.04167vw;
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: 30%;
    margin: auto;
    background: white;
    border-radius: 1.04167vw;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  .popup_inner .login-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    margin: 1.04167vw;
  }
  .popup_inner .para-div {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
  .popup_inner .para-div p {
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    font-size: 1.09375vw;
    padding: 0.52083vw;
  }
  .popup_inner .order-notes-button {
    padding-top: 1.5625vw;
  }
}

/***********************************
            Media Query Vendor List  
***********************************/
@media screen and (max-width: 768px) {
  .table-container {
    text-align: center;
  }
  .table-container .first-row {
    background-color: #ff5757;
  }
  .table-container .first-row th {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: 4vw;
    color: white;
    height: auto;
    vertical-align: middle;
    padding: 2.66667vw;
  }
  .table-container .second-row td {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: 4vw;
    height: auto;
    vertical-align: middle;
  }
  .table-container .second-row .img-padding {
    padding-left: 8vw;
  }
  .table-container .vendor {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
    font-size: 4.26667vw;
  }
  .table-container .vendor-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 2.66667vw;
    padding-bottom: 2.66667vw;
  }
  .table-container .vendor-search .input-bottomblack--input-search {
    background: transparent;
    margin-left: auto;
  }
  .table-container .username-login-form-group img {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 7px;
    left: 165px;
  }
  .table-container .size-select {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: 0.9rem !important;
    border: none;
    background-color: transparent;
    color: black;
  }
  .search-label label {
    display: none;
  }
  table {
    border-collapse: collapse;
    border-radius: 5px 5px 40px 40px;
    overflow: hidden;
    margin-bottom: 0vw;
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.2;
  }
  .popup_inner {
    text-align: left;
    padding: 5.33333vw;
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: 30%;
    margin: auto;
    background: white;
    border-radius: 5.33333vw;
    -webkit-box-shadow: 0px 0px 20px #e6e6e6;
            box-shadow: 0px 0px 20px #e6e6e6;
  }
  .popup_inner .login-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    margin: 5.33333vw;
  }
  .popup_inner .para-div {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
  .popup_inner .para-div p {
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    font-size: 5.6vw;
    padding: 2.66667vw;
  }
  .popup_inner .order-notes-button {
    padding-top: 8vw;
  }
}

/*========================================================

                 Add Vendor scss

========================================================*/
@media screen and (min-width: 769px) {
  .add-vendor-align {
    margin-top: 4.16667vw;
  }
  .add-vendor-align .addvendor-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
  }
  .add-vendor-align .cancel-button {
    font-size: 1.09375vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 12.5vw;
    height: 3.125vw;
    border: 1px solid #ff5757;
    background-color: white;
    color: #ff5757;
    float: left;
    border-radius: 1.5625vw;
    text-transform: capitalize;
  }
  .add-vendor-align .text-area-add {
    border: 1px solid #cccccc;
    border-radius: 1.5625vw;
  }
}

/***********************************
            Media Query Add vendor  
***********************************/
@media screen and (max-width: 768px) {
  .add-vendor-align {
    margin-top: 8vw;
    margin-bottom: 8vw;
  }
  .add-vendor-align .addvendor-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
    font-size: 5.33333vw;
  }
  .add-vendor-align .cancel-button {
    font-size: 4.8vw;
    margin-top: 8vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 37.33333vw;
    height: 10.66667vw;
    border: 1px solid #ff5757;
    background-color: white;
    color: #ff5757;
    float: left;
    border-radius: 8vw;
    text-transform: capitalize;
  }
  .add-vendor-align .text-area-add {
    border: 1px solid #cccccc;
    border-radius: 8vw;
  }
}

/*========================================================

                Edit Vendor scss

========================================================*/
@media screen and (min-width: 769px) {
  .edit-vendor-align {
    margin-top: 4.16667vw;
  }
  .edit-vendor-align .editvendor-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
    padding-bottom: 1.04167vw;
    border-bottom: 1px solid #cccccc;
  }
  .edit-vendor-align .cancel-button {
    font-size: 1.09375vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 12.5vw;
    height: 3.125vw;
    border: 1px solid #ff5757;
    background-color: white;
    color: #ff5757;
    float: right;
    border-radius: 1.5625vw;
    text-transform: capitalize;
  }
  .save-button {
    font-size: 1.09375vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    margin-top: 10.9375vw;
    width: 12.5vw;
    height: 3.125vw;
    border: transparent;
    background-color: #ff5757;
    color: white;
    float: left;
    border-radius: 1.5625vw;
    text-transform: capitalize;
  }
}

/***********************************
            Media Query Navigation   
***********************************/
@media screen and (max-width: 768px) {
  .edit-vendor-align {
    margin-top: 8vw;
  }
  .edit-vendor-align .editvendor-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
    padding-bottom: 5.33333vw;
    border-bottom: 1px solid #cccccc;
  }
  .edit-vendor-align .cancel-button {
    margin-top: 5.33333vw;
    font-size: 4.8vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 37.33333vw;
    height: 10.66667vw;
    border: 1px solid #ff5757;
    background-color: white;
    color: #ff5757;
    float: right;
    border-radius: 8vw;
    text-transform: capitalize;
  }
  .save-button {
    font-size: 4.8vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    margin-top: 61.33333vw;
    width: 37.33333vw;
    height: 10.66667vw;
    border: transparent;
    background-color: #ff5757;
    color: white;
    float: left;
    border-radius: 8vw;
    text-transform: capitalize;
  }
}
/*# sourceMappingURL=App.css.map */